*{
    margin:0;
    padding: 0;    
}

body{
       justify-content: center;
        align-items: center;
        padding: 70px 40px 70px 40px;
         display: flex;
         height: 100%;
         background-color: cadetblue;
  }
    
    
.card-container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    background-color: rgb(184, 177, 113);
    padding: 25px 30px 40px 20px;
    border-radius: 10px;
    box-shadow: 5px 8px 53px rosybrown;  
    cursor: pointer;  
    font-family: 'Bree Serif', sans-serif;
     
}

 body:hover{
     background-color:darkseagreen;
 }

.card-container:hover{
    background-color: black;
}

 .profileimg{
     z-index: 1;
     position: relative;
     margin-top :-76px;;
     display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .img{
        border-radius: 100%;
  }

.heading{
    text-align: center;
    font-weight: 400;
    color: teal;
}

h3{
    margin-top: 2px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
     color: rgb(130, 133, 134);
}
.para{
    text-align: center;
    font-size: 18px;
    color:bisque;
    font-weight: 400;
}

.loc{
    margin-top: 5px;
    display: flex;
  justify-content: center;
  font-size: 20px;
 color:white;
}

.label{
    color:rgb(23, 101, 245);
}

.box{
    margin-top: 22px;
    display: flex;
    justify-content: center;  
   justify-content: space-between;

}

.item{
   color: white;
   box-shadow: 5px 8px 63px sienna;
   width: 100px;
   height: 100px;
}

h2{
    margin-top: 20px;
    text-align: center;
    font-weight: 10; 
}

p{
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    color:teal;
}

.sociallink{ 
    margin-top: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.link{
    margin-top: 22px;
    height:40px;
    width: 30px;
    font-size: 21px; 
    padding: 0 10px; 
    cursor: pointer;
}


#logo1{
  font-size: 30px;
  color: whitesmoke;
  background-color:rgba(0, 0, 255, 0.897);
  border-radius: 50%;
  padding-top: 5px; 
  padding-bottom:5px;
  cursor: pointer;
}
#logo1:hover{
    background-color:lightblue;
    color:black;
}

#logo2{
    font-size: 30px;
    background-color:rgb(44, 214, 214);
    color: white;
    border-radius: 50%;
    padding-top: 5px; 
    padding-bottom:5px ;
    cursor: pointer;
}

#logo2:hover{
    background-color:lightblue;
    color:black;
}


  #logo3{
      font-size: 30px;
     background-color: #8a3ab9;
     color: white;
     border-radius: 50%;
     padding-top: 10px; 
     padding-top: 5px; 
     padding-bottom:5px ;   
     padding-left: 12px;
     cursor: pointer;
    }
    #logo3:hover{
        background-color:lightblue;
        color:black;
    }
    
  #logo4{
    font-size: 30px;
  background-color: black;
  color: white;  
  border-radius: 50%;
   padding-top: 5px; 
  padding-bottom:5px ;
cursor: pointer;
}
#logo4:hover{
    background-color:lightblue;
    color:black;
}


  #logo5{
    font-size: 30px;
    border-radius: 50%;  
    background-color:red;
    color: white;
    padding-top: 5px; 
    padding-bottom:5px ;
    cursor: pointer;
  }
  #logo5:hover{
    background-color:lightblue;
    color:black;
}


  .btnbox{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.msgbtn{
    padding: 14px 20px;
    border:1px solid rgba(52, 52, 247, 0.952);
     background-color:rgba(52, 52, 247, 0.952);
    margin: 1px;
    font-family: 'Bree Serif', sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 250px;
    border-radius: 35px;
 }

 .msgbtn:hover{
    border:1px solid rgba(106, 106, 243, 0.952);
    background-color: rgba(80, 80, 240, 0.952);
}


.followbtn{
    padding: 14px 20px;
    border:1px solid crimson;
     background-color:rgb(235, 25, 67);
    margin: 1px;
    text-align: center;
    font-size: 16px;
    font-family: 'Bree Serif', sans-serif;
    font-weight: 100;
    cursor: pointer;
    color: white;
    width: 250px;
    border-radius: 35px;
 }

 .followbtn:hover{
    border:1px solid crimson;
     background-color:crimson;
}



@media all and (max-width:900px) {
    .item{
        color: white;
        box-shadow: 5px 8px 63px sienna;
        width: 80px;
        height: 100px;
         
     }
     
    .msgbtn{
        width: 140px;
    }    
     .followbtn{
        width: 140px;
  }

}





